<% title "Sign Up for a teacher account" %>

<p>To gain access to EduCam and start using it in your lessons you'll need a user account.</p>

<p>Simply enter your email address and choose a password below to get started.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.submit "Sign Up", :class => "btn" %>
  </div>
<% end %>