<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= image_tag(@photo.photo.thumb.url) if @photo.photo.present? %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :lat, "Latitude" %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lon, "Longitude" %>
    <%= f.text_field :lon %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="field">
    <%= f.label :assignment_id, "Assignment" %>
    <%= f.collection_select :assignment_id, @assignments, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn" %>
    <%= link_to 'Back', photos_path, :class => "btn" %>
  </div>
<% end %>
