<% title "Viewing Single Photo" %>

<h3>You're viewing a single photo</h3>

<div id="single_photo_wrapper">
  <div id="photo">
    <%= image_tag @photo.photo %>
  </div>
  <div id="map" data-lat="<%= @photo.lat.present? ? @photo.lat : "Not Recorded" %>" data-lon="<%= @photo.lon.present? ? @photo.lon : "Not Recorded" %>" data-caption="<%= @photo.caption.present? ? @photo.caption : "No caption set" %>">
  	<!-- Map goes here -->
  </div>
  <div class="clearfix"></div>
  <div id="info">
    <p>Caption: <%= @photo.caption.present? ? @photo.caption : "No caption set" %></p>
    <p>Latitude: <%= @photo.lat.present? ? @photo.lat : "Not Recorded" %></p>
    <p>Longitude: <%= @photo.lon.present? ? @photo.lon : "Not Recorded" %></p>
    <p>Tags: <%= raw @photo.tags.map { |t| link_to(t.name, t) }.join(', ') %></p>
  </div>
</div>

<%= link_to 'Edit', edit_photo_path(@photo), :class => "btn" %> <%= link_to 'Back', photos_path, :class => "btn" %>