<% if @photo.caption.present? %>
  <% title @photo.caption %>
<% else %>
  <% title "Viewing Single Photo" %>
  <h3>No caption set for this photo</h3>
<% end %>

<% if @photo.tags.count > 0 %>
  <p>Tags: <%= raw @photo.tags.map { |t| 
    link = "<span class='tags'>" + link_to(t.name, t) + "</span>" }.join %></p>
<% else %>
  <p>No tags have been set for this photo.</p>
<% end %>

<div id="single_photo_wrapper">
  <div id="photo">
    <%= image_tag @photo.photo %>
  </div>
  <div id="map" data-lat="<%= @photo.lat.present? ? @photo.lat : "Not Recorded" %>" data-lon="<%= @photo.lon.present? ? @photo.lon : "Not Recorded" %>" data-caption="<%= @photo.caption.present? ? @photo.caption : "No caption set" %>">
  	<!-- Map goes here -->
  </div>
  <div class="clearfix"></div>
</div>

<%= link_to 'Edit', edit_photo_path(@photo), :class => "btn" %> <%= link_to 'Delete Photo', @photo, method: :delete, class: "btn", data: { confirm: 'This will permanently delete the photo, continue?' } %> <%= link_to 'Back to homepage', photos_path, :class => "btn" %>