<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= @photo.photo %>
</p>

<p>
  <b>Lat:</b>
  <%= @photo.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @photo.lon %>
</p>

<p>
  <b>Caption:</b>
  <%= @photo.caption %>
</p>

<p>
  <b>Device:</b>
  <%= @photo.device_id %>
</p>

<p>
  <b>Assignment:</b>
  <%= @photo.assignment_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
